<% provide(:title, @user.name) %>
<div>
  <div>
    <h3>⭐️<%= @user.name %> さん⭐️</h3>
  </div>

  <div class="typing">
    
    <p>　</p>
    <p>　</p>
    <p>　</p>

    <p id="label">Click to Start!</p>
    <p id="target">　</p>
    <input id="backtype" type="button" value="もう1回" onclick="myfunc()" class="btn btn-lg btn-primary">

    <p>　</p>
    <p>　</p>
    <p>　</p>

  </div>

  <%= javascript_include_tag "typecode.js" %>

</div>