<% provide(:title, @user.name) %>
<div>
  <br/><h2>モード選択</h2>
  <div class="center">
    🐈‍⬛　好きな猫を選んでね　🐈‍⬛
  </div>
  <br/>
  
  <div class="row">
    <!--ページロゴ表示＆アカウント作成ボタン表示-->
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-4">
        
        <%= link_to image_tag("neko1.png", class: "center"), mode_easy_user_path %>
        <p class="center">【Easy】</p>
    </div>

    <div class="col-md-4">
      
      <%= link_to image_tag("neko5.png", class: "center"), mode_hard_user_path %>
      <p class="center">【Hard】</p>
    </div>

    <div class="col-md-4">
      
      <%= link_to image_tag("neko3.png", class: "center"), mode_cat_user_path %>
      <p class="center">【Cat】</p>
    </div>

  </div>  

</div>